* {
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 251, 251, 0.603);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
li{
    list-style-type: none;
}
.calc-ctner {
    position: relative;
    top: 20vh;
    height: 400px;
    width: 500px;
    background-color: rgb(45, 207, 153);
    box-shadow: 20px 20px 50px 10px rgba(37, 146, 150, 0.63);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-display {
    background: whitesmoke;
    position: absolute;
    width: 70vw;
    height: 50px;
    top: 20px;
    border-radius: 10px;
}

.input-ctner {
    position: relative;
    width: 70vw;
    height: 50vh;
    left: 0px;
    top: 35px;
    border-radius: 10px;
    /* background: whitesmoke; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */

}
.calc-numComponent,.calc-operators{
    position: absolute;
    height: 45vh;
    border-radius: 10px;
}
.calc-numComponent {
    width: 250px;
    background: whitesmoke;
}
.num-btn{
    position: relative;
    top: -10px;
    /* width: auto; */
}
.num-btn {
    display:grid;
    align-content: flex-start ;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
.btn-numList, .btn-oList  {
    background-color: rgb(45, 207, 153);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.btn-numList:hover , .btn-oList:hover {
    box-shadow: 0 0 25px #0e24318a,
    inset 0 0 1px rgba(18, 239, 247, 0.377);
}

.btn-numList {
    /* background: lime ;
    opacity: 0.5; */
    padding: 15px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 20px;
}
.calc-operators {
    background: whitesmoke;
    width: 150px;
    right: 0px;
}
.operator-btn{
    position: relative;
    left: -20px;
}
.operator-btn {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    row-gap: 20px;
}
.btn-oList {
    padding: 10px;
    text-align: center;
}

#equals2-btn, #multiply-btn,#divide-btn,#add-btn,#minus-btn{
    font-size: 20px ;
}



@media screen and (min-width: 768px){
    .calc-display {
     
        width: 35vw;
        height: 50px;
        top: 20px;
        border-radius: 10px;
    }
    .input-ctner{
        width: 40vw;
    }
    .calc-numComponent,.calc-operators{
        
        height:48vh;
    }
    .calc-numComponent{
        left: 25px;
    }
    .calc-operators{
        right: 25px;
    }
}
